

h1{
  background-color:#246355;
  color:bisque;
  width: 43.5%;
  display: block;
  margin: auto;
}

h2{
  background-color:#246355;
  color:bisque;
  width: 43.5%;
  display: block;
  margin: auto;
}

a:link, a:visited {
  background-color:#246355;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  width: 25%;
  margin: auto;
}

a:hover, a:active {
  background-color: lightblue;
  border-radius: 5px;
}

h1,h2,h3,h4 {
  text-align: center;
}

form{
  width: 40%;
  margin: auto;
  padding: 25px;
  background-color: bisque;
  color:black;
}

input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 20px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

input[type=password], select {
  width: 80%;
  padding: 12px 20px;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

input[type=number], select {
  width: 80%;
  padding: 12px 20px;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

button[type=submit] {
  width: 25%;
  background-color: #246355;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

button[type=submit]:hover {
  background-color: #45a049;
}

button[type=reset] {
  width: 25%;
  background-color:#246355;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

button[type=reset]:hover {
  background-color: #45a049;
}

div{
  text-align: center;
}



